<div class="errorDialogContainer">
  <div class="errorMessage">
    Sorry, an error occurred:<br>
    {{ data.error.error.errorMessage }}
  </div>
  <p style="margin-bottom: 16px;">
    Please try again or contact an administrator.
  </p>
  <div>
    <button class="button" (click)="close()">Close</button>
  </div>
</div>
