<app-header></app-header>
<div class="container propertiesContainer">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="errorMessage alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <div class="tableContainer userTableContainer" *ngIf="dataSource">

        <div class="tableOptionsContainer d-flex justify-content-between align-items-center">
          <!--          <div class="filterContainer">-->
          <!--            <div class="filter">-->
          <!--              <input type="text" [(ngModel)]="dataSource.filter" placeholder="Search on this page">-->
          <!--              <button (click)="openFilter()">Filter</button>-->
          <!--            </div>-->
          <!--          </div>-->
          <mat-paginator (page)="updatePaginationInfos($event)" [pageIndex]="currentPageIndex" [length]="totalNumOfResults" [pageSize]="requestPageSize" [pageSizeOptions]="[5, 10, 20]" *ngIf="dataSource"></mat-paginator>
        </div>

        <table matSort mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <th mat-sort-header mat-header-cell *matHeaderCellDef > UID </th>
            <td mat-cell *matCellDef="let element"> {{element.id }} </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.title !== null">
                {{element.title  }}
              </div>
              <div *ngIf="element.title === null">
                -
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="numOfEvents">
            <th mat-header-cell *matHeaderCellDef> Num of events </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.events !== null">
                {{element.events.length }}
              </div>
              <div *ngIf="element.events === null">
                0
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="numOfLocations">
            <th mat-header-cell *matHeaderCellDef> Num of locations </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.locations !== null">
                {{element.locations.length }}
              </div>
              <div *ngIf="element.locations === null">
                0
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="reviewStatus">
            <th mat-header-cell *matHeaderCellDef> Review status </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.reviewStatus !== null">
                {{ getReviewStatusDisplayName(element.reviewStatus) }}
              </div>
              <div *ngIf="element.reviewStatus === null">
                -
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> EDIT? </th>
            <td mat-cell *matCellDef="let element"> <button class="button" (click)="selectGuide(element)"  [routerLink]="'/guide/' + element.id">Edit</button> </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
