<div style="width: 100%; background-color: white; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);">
  <div class="headerContainer container">
    <div class="h-100 row">
      <div class="col d-flex justify-content-between align-items-center">
        <div style="cursor: pointer" class="logo" routerLink="/">
          <img style="width: 150px; height: auto" src="assets/logo/Logo.png" alt="spotever_logo" />
        </div>
        <div class="links d-flex">
          <div class="link d-flex flex-column justify-content-center align-items-center" routerLink="/guides">
            <div class="linkImgContainer propertiesImgContainer">
              <img src="assets/icons/u_sign-alt.png" alt="guides icon" />
            </div>
            <div>
              Guides
            </div>
          </div>
          <div class="link d-flex flex-column justify-content-center align-items-center" routerLink="/claim-requests">
            <div class="linkImgContainer usersImgContainer">
              <img src="assets/icons/fi_users.png" alt="users icon" />
            </div>
            <div>
              Claim-Requests
            </div>
          </div>
          <div class="link d-flex flex-column justify-content-center align-items-center" routerLink="/users">
            <div class="linkImgContainer usersImgContainer">
              <img src="assets/icons/fi_users.png" alt="users icon" />
            </div>
            <div>
              Users
            </div>
          </div>
          <div class="link profile d-flex flex-column justify-content-center align-items-center" routerLink="/profile">
            <div class="linkImgContainer profileImgContainer">
              <img [src]="user.imageUrl ? user.imageUrl : ''" alt="profileImage" />
            </div>
            <div>
              {{ user.nickname ? user.nickname : '-' }}
            </div>
          </div>
          <div class="link logout d-flex flex-column justify-content-center align-items-center" (click)="signOut()">
            <div class="linkImgContainer logoutImgContainer d-flex flex-column justify-content-center">
              <img src="assets/icons/fi_log-out.png" alt="logoutIcon" />
            </div>
            <div>
              Sign Out
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
