.headerContainer {
  height: 64px;
}

.logoutImgContainer {
  height: 24px;
  width: 24px;
}

.links {
  font-size: 13px;
}

.links .link {
  margin-right: 32px;
}

.link {
  cursor: pointer;
}

.links .link:last-child {
  margin-right: 0;
}

.linkImgContainer {
  margin-bottom: 4px;
}

.logoutImgContainer img {
  width: 24px;
  height: auto;
}

.linkImgContainer img {
  width: 24px;
  height: 24px;
  border-radius: 20px;
  object-fit: cover;
}

div {
  font-weight: 700;
}

.profileImgContainer {
  height: 24px;
  width: 24px;
}
