.propertiesContainer {
  margin-top: 64px;
  margin-bottom: 64px;
}

.userTableContainer {
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.editButton {
  background-color: #200E32;
  border: none;
  padding: 8px;
  border-radius: 4px;
  color: #F7DCC7;
}

:host::ng-deep td.mat-cell,:host::ng-deep th.mat-header-cell {
  padding: 8px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: #30AABC !important; /* Red background for example */
}

.filterContainer {
  padding-left: 8px;
}
