<app-header></app-header>
<div class="container propertiesContainer">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="errorMessage alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <div class="tableContainer userTableContainer" *ngIf="dataSource">

        <div class="tableOptionsContainer d-flex justify-content-between align-items-center">
<!--          <div class="filterContainer">-->
<!--            <div class="filter">-->
<!--              <input type="text" [(ngModel)]="dataSource.filter" placeholder="Search on this page">-->
<!--              <button (click)="openFilter()">Filter</button>-->
<!--            </div>-->
<!--          </div>-->
          <mat-paginator (page)="updatePaginationInfos($event)" [pageIndex]="currentPageIndex" [length]="totalNumOfResults" [pageSize]="requestPageSize" [pageSizeOptions]="[5, 10, 20]" *ngIf="dataSource"></mat-paginator>
        </div>

        <table matSort mat-table (matSortChange)="changeSorting($event)" [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <th mat-sort-header mat-header-cell *matHeaderCellDef > UID </th>
            <td mat-cell *matCellDef="let element"> {{element.id }} </td>
          </ng-container>
          <ng-container matColumnDef="nickname">
            <th mat-header-cell *matHeaderCellDef> NICKNAME </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.nickname !== null">
                {{element.nickname  }}
              </div>
              <div *ngIf="element.nickname === null">
                -
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> email </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.email !== null">
                {{element.email }}
              </div>
              <div *ngIf="element.email === null">
                -
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="imageUrl">
            <th mat-header-cell *matHeaderCellDef> IMAGE </th>
            <td mat-cell *matCellDef="let element"> <img appImgFallback style="width: 64px; height: 64px; object-fit: cover" [src]="element.imageUrl !== null ? element.imageUrl : ''" /> </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> EDIT? </th>
            <td mat-cell *matCellDef="let element"> <button class="button" (click)="selectUser(element)"  [routerLink]="'/user/' + element.id">Edit</button> </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator (page)="updatePaginationInfos($event)" [pageIndex]="currentPageIndex" [length]="totalNumOfResults" [pageSize]="requestPageSize" [pageSizeOptions]="[5, 10, 20]" *ngIf="dataSource"></mat-paginator>
      </div>
    </div>
  </div>
</div>
