$blue: #288AF8;
$blue_light: #BFDCFD;
$blue_gradient: linear-gradient(180deg, #5CA5F7 0%, #4599F7 100%);
$black: #000000;

$font_80: #333333;
$font_50: #808080;
$font_30: #B3B3B3;
$font_10: #E6E6E6;
$font_2: #FAFAFA;

$box_shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
$box_shadow_light: 0px 10px 40px rgba(0, 0, 0, 0.15);

$primary: #200E32;
$text_w: #FFFFFF;
$secondary: #F7DCC7;
$light_grey: #C4C4C4;
$dark_grey: #A3A0A7;
$text_secondary: #C4BDCA;
$background_gradient: linear-gradient(291.27deg, #B79F9B 0%, #200E32 100%);
$tag_bg: #EAEAEE;
$ultra_light_grey: #F7F7F8;
$event_shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
