.profileRow {
  margin-bottom: 40px;
}

.userImage {
  margin-bottom: 32px;
  width: 100%;
  height: 200px;
}

.userImage img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.uploadLabel {
  text-align: center;
  font-size: 12px;
}
