<app-header></app-header>
<div class="container buttonsContainer">
  <div class="row justify-content-end">

    <div *ngIf="showConfirmation" class="col-auto">
      <div class="confirmation">
        Do you really want to safe?
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <button (click)="showConfirmation = false" class="btn confNoButton">No</button>
        </div>
        <div class="col-auto">
          <button (click)="confirmChanges()" class="btn confYesButton">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <form #adminUserForm="ngForm">
    <div style="margin-top: 32px; margin-bottom: 32px;" class="infoCard">
      <div class="row infoRow justify-content-center">
        <div class="col-3">
          <div class="row profileRow">
            <div class="col">
              <div class="imageCol d-flex flex-column align-items-center">
                <div class="userImage d-flex justify-content-center">
                  <img [src]="changedAdminUser.imageUrl" alt="profile image" />
                </div>
                <div class="uploadImage">
                  <input #imageInput style="display: none;" (change)="fileInputChange($event)" type="file">
                  <button style="margin-right: 16px;" class="button" type="button" (click)="imageInput.click()">Select image</button>
                  <button class="button" [disabled]="!selectedFile" type="button" (click)="updateAdminUserImage()">Upload</button>
                  <div *ngIf="fileUploadProgress > 0" style="margin-top: 16px">
                    <mat-progress-bar style="margin-bottom: 8px;" mode="determinate" [value]="fileUploadProgress"></mat-progress-bar>
                    <div class="uploadLabel">Upload: {{ fileUploadProgress }}%</div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="row profileRow">
            <div class="col">
              <div class="propertyNameContainer">
                <h6 class="headline">
                  Nickname:
                </h6>
                <div class="propertyName">
                  <input type="text"  name="nickname" [(ngModel)]="changedAdminUser.nickname" [placeholder]="'Insert nickname'">
                </div>
              </div>
            </div>
          </div>
          <div class="row profileRow">
            <div class="col">
              <div class="propertyNameContainer">
                <h6 class="headline">
                  Email:
                </h6>
                <div class="propertyName">
                  <input type="text"  name="email" [(ngModel)]="changedAdminUser.email" [placeholder]="'Insert email'">
                </div>
              </div>
            </div>
          </div>
          <div class="row profileRow">
            <div *ngIf="!showConfirmation" class="col">
              <div class="saveChanges">
                <button style="width: 100%;" (click)="showConfirmation = true" [disabled]="!wasChanged" class="button saveButton">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
