<app-header></app-header>
<div class="container buttonsContainer">
  <div class="row justify-content-end">
    <div *ngIf="!showConfirmation" class="col-auto">
      <div class="resetChanges">
        <button [disabled]="!wasChanged" (click)="resetChanges()" class="btn resetButton">Reset changes</button>
      </div>
    </div>
    <div *ngIf="!showConfirmation" class="col-auto">
      <div class="saveChanges">
        <button (click)="showConfirmation = true" [disabled]="!wasChanged" class="btn saveButton">Save changes</button>
      </div>
    </div>
    <div *ngIf="showConfirmation" class="col-auto">
      <div class="confirmation">
        Do you really want to safe?
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <button (click)="showConfirmation = false" class="btn confNoButton">No</button>
        </div>
        <div class="col-auto">
          <button (click)="confirmChanges()" class="btn confYesButton">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-bottom: 32px;" class="container">
  <form #guideForm="ngForm">
    <div class="infoCard">
      <div class="row infoRow">
        <div class="col-4 userPropCol">
          <div class="propertyIdContainer">
            <h6 class="headline">
              ID:
            </h6>
            <div class="propertyId">
              {{ changedGuide.id }}
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="propertyIsReviewedContainer">
            <h6 class="headline">
              User role
            </h6>
            <div class="propertyIsReviewed" *ngIf="changedGuide.reviewStatus">
              <mat-form-field [floatLabel]="null">
                <mat-select [(ngModel)]="changedGuide.reviewStatus" name="reviewStatus" >
                  <mat-option *ngFor="let status of reviewStatusList" [value]="status.value">
                    {{status.displayName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="propertyIsReviewed" *ngIf="!changedGuide.reviewStatus">
              -
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="propertyNameContainer">
            <h6 class="headline">
              User
            </h6>
            <div class="propertyName">
              <!--              <input type="text"  name="title" [(ngModel)]="changedGuide.title" [placeholder]="'Insert Title'">-->
              {{ changedGuide.createdBy.nickname }}
            </div>
          </div>
        </div>
      </div>
      <div class="row infoRow">
        <div class="col-4">
          <div class="propertyNameContainer">
            <h6 class="headline">
              Title
            </h6>
            <div class="propertyName">
              <!--              <input type="text"  name="title" [(ngModel)]="changedGuide.title" [placeholder]="'Insert Title'">-->
              {{ changedGuide.title }}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="propertyNameContainer">
            <h6 class="headline">
              Description:
            </h6>
            <div style="white-space: pre-wrap;" class="propertyDescription">
              <!--            <textarea-->
              <!--              [(ngModel)]="changedGuide.description"-->
              <!--              class="descriptionArea"-->
              <!--              name="description"-->
              <!--              id="description"-->
              <!--              cols="30"-->
              <!--              rows="10"></textarea>-->
              {{ changedGuide.description ? changedGuide.description : '-' }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row justify-content-center">
    <div class="col-auto tabRow">
      <div class="row">
        <div (click)="changedGuide.events.length > 0 ? showEvents = true : null" class="col-auto headline tabLabel" [ngClass]="{'inactive': !showEvents}">
          Events ({{ changedGuide.events.length }})
        </div>
        <div (click)="changedGuide.locations.length > 0 ? showEvents = false : null" class="col-auto headline tabLabel" [ngClass]="{'inactive': showEvents}">
          Locations ({{ changedGuide.locations.length }})
        </div>
      </div>
    </div>
  </div>
  <div class="row eventsRow" *ngIf="showEvents">
    <div class="col-4 event" *ngFor="let event of changedGuide.events">
      <app-event-view [event]="event"></app-event-view>
    </div>
  </div>
  <div class="row eventsRow" *ngIf="!showEvents">
    <div class="col-6 location" *ngFor="let location of changedGuide.locations">
      <app-location-view [location]="location"></app-location-view>
    </div>
  </div>
</div>
