// import variables
@import 'variables';

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: #30AABC !important; /* Red background for example */
}

.saveButton {
  background-color: #200E32;
  color: #F7DCC7;
  font-size: 12px;
}

.saveButton:disabled, .resetButton:disabled {
  background-color: #C9D0DA
}

.resetButton {
  background-color: #EB6651;
  color: white;
  font-size: 12px;
}

.confYesButton {
  background-color: #78A300;
  color: white;
  font-size: 12px;
}

.confNoButton {
  background-color: #EB6651;
  color: white;
  font-size: 12px;
}

.buttonsContainer {
  margin-bottom: 16px;
  margin-top: 32px;
}

.infoRow {
  margin-bottom: 40px;
}

.confirmation {
  margin-bottom: 8px;
}

.descriptionContainer {
  margin-bottom: 40px;
}

.mediaRef img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.headline {
  font-size: 16px;
  font-weight: 700;
}

.descriptionArea {
  width: 100%;
}

.tileGroup {
  padding: 8px;
  border: solid 1px #E1E5E9;
  border-radius: 4px;
}

.attributeDescription {
  margin-right: 8px;
}

.maintainerChipContainer {
  border: 1px solid #E1E5E9;
  border-radius: 4px;
  padding: 16px 8px 16px 8px;;
  margin-bottom: 16px;
  min-height: 64px;
}

.maintainerChip {
  color: white;
  background: #737F8B;
  border-radius: 4px;
  text-align: center;
  padding: 4px;
  font-size: 13px;
}

div .maintainerChip {
  margin-right: 16px;
  margin-bottom: 8px;
}

div .maintainerChip:last-child {
  margin-right: 0;
}

.tileImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.tilegroupHeader {
  width: fit-content;
  width: -moz-fit-content;
  margin-bottom: 24px;
}

.tileHeadline {
  margin-bottom: 0;
  margin-left: 8px;
}

.tile {
  margin-bottom: 32px;
}

.tile:last-child {
  margin-bottom: 0;
}

.label {
  margin-bottom: 8px;
}

.userPropCol {
  margin-bottom: 32px;
}

.event, .location {
  margin-bottom: 30px;
}

.tabRow {
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  margin-top: 32px;
}

.eventsRow {
  margin-top: 32px;
}

.inactive {
  color: $text_secondary;
}

.tabLabel {
  cursor: pointer;
}
