.loginCol {
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 64px;
  width: 350px;
}

.loginButton {
  width: 120px;
}

.logoContainer {
  margin-bottom: 32px;
}

.label {
  margin-bottom: 48px;
  text-align: center;
}
