<div style="height: 100%" class="container">
  <div style="height: 100%" class="row justify-content-center align-items-center">
    <div class="col-auto loginCol d-flex align-items-center justify-content-center flex-column">
      <div class="logoContainer">
        <img style="width: 180px; height: auto" src="assets/logo/Logo.png" alt="spotever_logo" />
      </div>
      <div class="label">
        Welcome to the Spotever Admin Console
      </div>
      <div class="button primaryButton loginButton" (click)="loginWithGoogle()">
        Login
      </div>
    </div>
  </div>
</div>
