// import variables
@import 'variables';

.event {
  box-shadow:$event_shadow;
  border-radius: 8px;
  width: 100%;
  position: relative;
}

.favoriteContainer {
  position: absolute;
  top: 16px;
  right: 16px;
  background: rgba(32, 14, 50, 0.1);
  backdrop-filter: blur(2px);
  border-radius: 8px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 99;
}

.event a {
  text-decoration: none;
}

.event_picture {
  background-size: cover !important;
  height: 170px;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  align-items: flex-end;
  background-position: center !important;
}

.event_category {
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  margin-left: 16px;
  margin-bottom: 16px;
  color: white;
  border-radius: 8px;
  background: #FF6D65;
  padding: 4px 8px;
  left: 0;
  bottom: 0;
  z-index: 999;
  position: absolute;
}

.infoContainer {
  padding-top: 16px;
  padding-bottom: 16px;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

:host::ng-deep mat-icon svg {
  vertical-align: unset;
}

.imageBox {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 49.562682% 0 0 0; /* aspect ratio cal:  (w / h) = 100 / (640 / 220) */
  border-radius: 8px 8px 0 0;
}

.eventImage {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ----------------------------------------------  RESPONSIVE EINSTELLUNGEN. ----------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/

/* ---------------------------- Most of the Smartphones Mobiles (Portrait) ---------------------------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  //.event {
  //  width: 100%;
  //  max-width: 448px;
  //}
}

