<div class="event">
  <a [href]="'https://spotever.de/suche/veranstaltungen/' + event.seoId" target="_blank" rel="noopener">
    <div class="imageBox">
      <img class="eventImage" [src]="getPictureUrlOrFallback()" [alt]="event.name" />
      <div *ngIf="category" class="event_category" [ngStyle]="{'background': category.backgroundColor ? category.backgroundColor : '', 'color': category.backgroundColor ? category.color : '' }">{{category.name}}</div>
    </div>
    <div class="container infoContainer">
      <div class="row">
        <div class="col-6 d-flex align-items-center">
          <div class="d-flex">
            <mat-icon class="icon" svgIcon="calendar"></mat-icon>
          </div>
          <div class="h_4_b_14 textTrunc">
            {{getEventDate()}}
          </div>
        </div>
        <div class="col-6 d-flex align-items-center">
          <div class="d-flex">
            <mat-icon class="icon" svgIcon="time"></mat-icon>
          </div>
          <div class="h_4_b_14 textTrunc">
            {{ getEventTime() }} Uhr
          </div>
        </div>
      </div>
      <div style="margin-top: 8px; margin-bottom: 16px;" class="row">
        <div class="col-12">
          <div class="event_title h_2_b_18 textTrunc">{{event.name}}</div>
        </div>
      </div>
      <div style="margin-bottom: 8px;" class="row">
        <div class="col-12">
          <a class="d-flex align-items-center" [routerLink]="handleCLick ? '/suche/locations/'+ event.location.seoId : null">
            <div class="d-flex">
              <mat-icon class="icon" svgIcon="locationSmall"></mat-icon>
            </div>
            <div class="h_4_b_14 event_location textTrunc">
              {{event.location.name}}
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex align-items-center">
          <div class="d-flex">
            <mat-icon class="icon" svgIcon="pin"></mat-icon>
          </div>
          <div class="h_4_b_14 textTrunc">
            {{event.location.street}}, {{ event.location.zip }} {{event.location.city}}
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

