<app-header></app-header>
<div class="container buttonsContainer">
  <div class="row justify-content-end">
    <div *ngIf="!showConfirmation" class="col-auto">
      <div class="resetChanges">
        <button [disabled]="!wasChanged" (click)="resetChanges()" class="btn resetButton">Reset changes</button>
      </div>
    </div>
    <div *ngIf="!showConfirmation" class="col-auto">
      <div class="saveChanges">
        <button (click)="showConfirmation = true" [disabled]="!wasChanged" class="btn saveButton">Save changes</button>
      </div>
    </div>
    <div *ngIf="showConfirmation" class="col-auto">
      <div class="confirmation">
        Do you really want to safe?
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <button (click)="showConfirmation = false" class="btn confNoButton">No</button>
        </div>
        <div class="col-auto">
          <button (click)="confirmChanges()" class="btn confYesButton">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-bottom: 32px;" class="container" *ngIf="changedClaimRequest">
  <div class="infoCard">
    <form [formGroup]="claimRequestForm">
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="label">
            ID:
          </div>
          <div class="value">
            {{ changedClaimRequest.id }}
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="label">
            Host:
          </div>
          <div class="value">
            {{ changedClaimRequest.eventHost ? changedClaimRequest.eventHost.name : '-' }}
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="label">
            Status:
          </div>
          <div class="value">
            <mat-form-field>
              <mat-select formControlName="reviewStatus" >
                <mat-option *ngFor="let status of reviewStatusList" [value]="status.value">
                  {{status.displayName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="event">
            <app-event-view [event]="changedClaimRequest?.event"></app-event-view>
          </div>
        </div>
      </div>
      <div class="row heading-row">
        <div class="col-12">
          <h4 class="heading">
            Details zum Veranstalter
          </h4>
        </div>
      </div>
      <div class="row host-detail-row" *ngIf="originalClaimRequest">
        <div class="col-4 detail-col">
          <div class="row">
            <div class="col-12">
              <div class="label">
                Veranstalter:
              </div>
            </div>
            <div class="col-12">
              <div class="info">
                {{ originalClaimRequest.eventHost.name ? originalClaimRequest.eventHost.name : '-' }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 detail-col">
          <div class="row">
            <div class="col-12">
              <div class="label">
                Vorname:
              </div>
            </div>
            <div class="col-12">
              <div class="info">
                {{ originalClaimRequest.eventHost.contactFirstname ? originalClaimRequest.eventHost.contactFirstname : '-' }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 detail-col">
          <div class="row">
            <div class="col-12">
              <div class="label">
                Nachname:
              </div>
            </div>
            <div class="col-12">
              <div class="info">
                {{ originalClaimRequest.eventHost.contactLastname ? originalClaimRequest.eventHost.contactLastname : '-' }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 detail-col">
          <div class="row">
            <div class="col-12">
              <div class="label">
                Nachname:
              </div>
            </div>
            <div class="col-12">
              <div class="info">
                {{ originalClaimRequest.eventHost.contactLastname ? originalClaimRequest.eventHost.contactLastname : '-' }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 detail-col">
          <div class="row">
            <div class="col-12">
              <div class="label">
                Straße:
              </div>
            </div>
            <div class="col-12">
              <div class="info">
                {{ originalClaimRequest.eventHost.street ? originalClaimRequest.eventHost.street : '-' }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 detail-col">
          <div class="row">
            <div class="col-12">
              <div class="label">
                Stadt:
              </div>
            </div>
            <div class="col-12">
              <div class="info">
                {{ originalClaimRequest.eventHost.city ? originalClaimRequest.eventHost.city : '-' }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 detail-col">
          <div class="row">
            <div class="col-12">
              <div class="label">
                PLZ:
              </div>
            </div>
            <div class="col-12">
              <div class="info">
                {{ originalClaimRequest.eventHost.zip ? originalClaimRequest.eventHost.zip : '-' }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 detail-col">
          <div class="row">
            <div class="col-12">
              <div class="label">
                Website:
              </div>
            </div>
            <div class="col-12">
              <div class="info">
                {{ originalClaimRequest.eventHost.website ? originalClaimRequest.eventHost.website : '-' }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 detail-col">
          <div class="row">
            <div class="col-12">
              <div class="label">
                Email:
              </div>
            </div>
            <div class="col-12">
              <div class="info">
                {{ originalClaimRequest.eventHost.email ? originalClaimRequest.eventHost.email : '-' }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 detail-col">
          <div class="row">
            <div class="col-12">
              <div class="label">
                Telefon:
              </div>
            </div>
            <div class="col-12">
              <div class="info">
                {{ originalClaimRequest.eventHost.phone ? originalClaimRequest.eventHost.phone : '-' }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 detail-col">
          <div class="row">
            <div class="col-12">
              <div class="label">
                Beschreibung:
              </div>
            </div>
            <div class="col-12">
              <div class="info">
                {{ originalClaimRequest.eventHost.description ? originalClaimRequest.eventHost.description : '-' }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 detail-col">
          <div class="row">
            <div class="col-12">
              <div class="host-image" *ngIf="originalClaimRequest.eventHost.mediaReferences && originalClaimRequest.eventHost.mediaReferences.length > 0">
                <img [src]="originalClaimRequest.eventHost.mediaReferences[0].url" alt="">
              </div>
              <div class="label" *ngIf="!originalClaimRequest.eventHost.mediaReferences || originalClaimRequest.eventHost.mediaReferences.length === 0">
                kein Bild vorhanden
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
