<app-header></app-header>
<div class="container buttonsContainer">
  <div class="row justify-content-end">
    <div *ngIf="!showConfirmation" class="col-auto">
      <div class="resetChanges">
        <button [disabled]="!wasChanged" (click)="resetChanges()" class="btn resetButton">Reset changes</button>
      </div>
    </div>
    <div *ngIf="!showConfirmation" class="col-auto">
      <div class="saveChanges">
        <button (click)="showConfirmation = true" [disabled]="!wasChanged" class="btn saveButton">Save changes</button>
      </div>
    </div>
    <div *ngIf="showConfirmation" class="col-auto">
      <div class="confirmation">
        Do you really want to safe?
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <button (click)="showConfirmation = false" class="btn confNoButton">No</button>
        </div>
        <div class="col-auto">
          <button (click)="confirmChanges()" class="btn confYesButton">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-bottom: 32px;" class="container">
  <form #userForm="ngForm">
    <div class="infoCard">
      <div class="row infoRow">
        <div class="col-4 userPropCol">
          <div class="propertyIdContainer">
            <h6 class="headline">
              ID:
            </h6>
            <div class="propertyId">
              {{ changedUser.id }}
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="propertyNameContainer">
            <h6 class="headline">
              Nickname
            </h6>
            <div class="propertyName">
              <input type="text"  name="nickname" [(ngModel)]="changedUser.nickname" [placeholder]="'Insert Name'">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="propertyNameContainer">
            <h6 class="headline">
              Email:
            </h6>
            <div class="propertyName">
              <input type="text"  name="email" [(ngModel)]="changedUser.email" [placeholder]="'Insert Name'">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="propertyIsReviewedContainer">
            <h6 class="headline">
              User role
            </h6>
            <div class="propertyIsReviewed" *ngIf="changedUser.userRole">
              <mat-form-field [floatLabel]="null">
                <mat-select [(ngModel)]="changedUser.userRole" name="userRole" >
                  <mat-option *ngFor="let role of userRoleList" [value]="role.value">
                    {{role.displayName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="propertyIsReviewed" *ngIf="!changedUser.userRole">
              -
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
