<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
<!--      <div class="errorMessage alert alert-danger" *ngIf="errorMessage">-->
<!--        {{ errorMessage }}-->
<!--      </div>-->
      <div class="tableContainer userTableContainer" *ngIf="dataSource">

        <div class="tableOptionsContainer d-flex justify-content-between align-items-center">
          <!--          <div class="filterContainer">-->
          <!--            <div class="filter">-->
          <!--              <input type="text" [(ngModel)]="dataSource.filter" placeholder="Search on this page">-->
          <!--              <button (click)="openFilter()">Filter</button>-->
          <!--            </div>-->
          <!--          </div>-->
<!--          <mat-paginator (page)="updatePaginationInfos($event)" [pageIndex]="currentPageIndex" [length]="totalNumOfResults" [pageSize]="requestPageSize" [pageSizeOptions]="[5, 10, 20]" *ngIf="dataSource"></mat-paginator>-->
        </div>

        <table matSort mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <th mat-sort-header mat-header-cell *matHeaderCellDef > UID </th>
            <td mat-cell *matCellDef="let element"> {{element.id }} </td>
          </ng-container>
          <ng-container matColumnDef="event">
            <th mat-header-cell *matHeaderCellDef> Event </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.event !== null">
                {{element.event.name  }}
              </div>
              <div *ngIf="element.event.name === null">
                -
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="host">
            <th mat-header-cell *matHeaderCellDef> Host </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.eventHost !== null">
                {{element.eventHost.name }}
              </div>
              <div *ngIf="element.eventHost === null">
                -
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="reviewStatus">
            <th mat-header-cell *matHeaderCellDef> Review status </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.reviewStatus !== null">
                {{ getReviewStatusDisplayName(element.reviewStatus) }}
              </div>
              <div *ngIf="element.reviewStatus === null">
                -
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> EDIT? </th>
            <td mat-cell *matCellDef="let element"> <button class="button" (click)="selectClaimRequest(element)"  [routerLink]="'/claim-request/' + element.id">Edit</button> </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
