// import variables
@import 'variables';

.location_detail {
  text-decoration: none;
}

.location_pic {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  object-fit: cover;
}

.location_name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 4px;
}

.location_address {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.favoriteContainer {
  background-color: $ultra_light_grey;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}


@media (min-width: 481px) {
  .location_pic {
    width: 80px;
    height: 80px;
  }

  .location_name {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 8px;
  }

  .location_address {
    font-size: 14px;
    line-height: 18px;
  }

  .favoriteContainer {
    height: 48px;
    width: 48px;
  }
}
