<div class="row">
  <div class="col">
    <a class="location_detail" target="_blank" rel="noopener" *ngIf="location" [href]="'https://spotever.de/suche/locations/'+ location.seoId">
      <div class="row">
        <div class="location_picture_container col-auto">
          <img alt="{{location.name}}" class="location_pic" [src]="getPictureUrlOrFallback()">
        </div>
        <div class="col flex-grow-1">
          <div class="location_detail_infos">
            <div class="location_name">
              {{location.name}}
            </div>
            <div class="location_address">
              {{location.street}},&nbsp;{{location.zip}}&nbsp;{{location.city}}
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
