// import variables
@import 'variables';

/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/source-sans-pro-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
  url('fonts/source-sans-pro-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/source-sans-pro-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/source-sans-pro-v14-latin-700.woff') format('woff'), /* Modern Browsers */
  url('fonts/source-sans-pro-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/source-sans-pro-v14-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/source-sans-pro-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
  url('fonts/source-sans-pro-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/source-sans-pro-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/source-sans-pro-v14-latin-300.woff') format('woff'), /* Modern Browsers */
  url('fonts/source-sans-pro-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/source-sans-pro-v14-latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

body, html {
  color: #200E32;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif !important;
  overflow: overlay;
}

.infoCard {
  background-color: white;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 45px 15px;
}

button.button {
  border: none;
  background-color: #200E32;
  color: white;
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 14px;
}

button.button:disabled {
  background-color: #EAEAEE;
  color: #C4BDCA;
}

input, textarea {
  border: 1px solid #E1E5E9;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}

input::placeholder, textarea::placeholder {
  color: #E1E5E9;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html, body { height: 100%; }

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.textTrunc {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.h_2_b_18 {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: $primary;
}

.h_4_b_14 {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: $primary;
}

a {
  text-decoration: none;
  color: $primary;
}

.button {
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primaryButton {
  background-color: $primary;
  color: $text_w !important;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}
