<app-header></app-header>
<div style="margin-top: 40px" class="homeContainer container">
  <div class="row">
    <div class="col">
      <div class="greeting d-flex flex-column align-items-center">
        <h1 class="home">
          Welcome to the Spotever Admin Panel
        </h1>
        <div class="subheader">
          If you logged in for the first time, ask an admin to grant you the required privileges.
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 80px;" class="row justify-content-center">
    <div style="margin-right: 160px;" class="col-auto d-flex justify-content-center align-items-center flex-column quickLink" routerLink="/users">
      <div class="iconBackground d-flex justify-content-center align-items-center">
        <img src="assets/icons/fi_users.png" alt="users icon" />
      </div>
      <div class="label">
        Go to user administration
      </div>
    </div>
    <div class="col-auto d-flex justify-content-center align-items-center flex-column quickLink" routerLink="/guides">
      <div class="iconBackground d-flex justify-content-center align-items-center">
        <img src="assets/icons/u_sign-alt.png" alt="guides icon" />
      </div>
      <div class="label">
        Go to guide administration
      </div>
    </div>
  </div>
</div>
